<div class="cavalla_hero">
	<div class="container">
		<div class="row">
			<div class="col">
			

				<a href="#" class="btn btn-primary my-2">Main call to action</a>
				<a href="#" class="btn btn-secondary my-2">Secondary action</a>
			</div>
		</div>
	</div>
</div>
