<div class="cavalla-page">
  <div class="cavalla-page--hero">
      {{ content.field_cavalla_page__hero }}
  </div>
  <div class="cavalla-page--widgets">
    <div class="testimonials__bg testimonials__bg--left"></div>
    <div class="testimonials__bg testimonials__bg--right"></div>
    {{ content.field_cavalla_page__widgets }}
    {{ content.field_cavalla_page__callout }}
  </div>
</div>