<div class="card" style="width: 18rem;">
  <img src="{{ image[0]['image'] }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="h5">{{ page_title }}</h2>
    <p class="card-text">{{ content.field_cavalla_event__desc[0] }}</p>
  </div>
</div>